@{
    ViewData["Title"] = "Thank You";
}

<section class="inner_page_head">
    <div class="container_fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <h3>Thank You!</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="full">
                    <h4>Your order has been successfully placed, thank you for using eShop.</h4>
                </div>
            </div>
        </div>
    </div>
</section>